<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body1">
    <form (submit)="addFlag()" [formGroup]="FlagGroup">
        <div class="background-img">
            <div class="card-container">
                <div class="upper-box">
                    <h3 class="name">What are the colors in our national flag ?</h3>
                    <div class="response">
                        <div *ngFor="let c of colorArr" class="color">
                            <label> 
                                <input type="checkbox"  [value] = "c.value" (change)="onCheckBoxChange($event)"/>
                                    {{c.name}}
                            </label>    
                        </div>
                        <div *ngIf="submitted && FlagGroup.get('flagColor').errors">
                            <small *ngIf="submitted && FlagGroup.get('flagColor').errors?.required" class="error"> Please select checkboxes more than 1 </small>
                        </div> 
                    </div>
                    <div class="btn-next">
                        <button class="btn1"> Next </button>
                    </div>
                </div>
            </div>
            
        </div>    
    </form>
