html,body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}



header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/images/miikka-luotio-i3WlrO7oAHA-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	background-attachment: fixed;
    
}




.app-name{
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 3rem;
    position: absolute;
    top: 40%;
    left: 2.5%;
}

.logo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) , url('../../assets/images/quiz-text-wood-cube-wooden-table_42256-1270.jpg');
    background-repeat: no-repeat;
    height: 13vh;
    position: absolute;
    left: -5.9%;
    top: 0.7%;
    display: inline-block;
    width: 39%;
    background-position: 10%;
}

.btn-quiz-start{
    position: absolute;
    top: 54%;
    left: 25%;
}

.btn1{
    padding: 9px 20px;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    letter-spacing: 0.4px;
    text-decoration:none;
}

.btn1:hover{
    background-color: #ffffff;
    color: #555;
    transition: 0.2s linear;
}






/* ----------   Media query starts from here -------------- */

@media only screen and (max-width:768px)
{

    header{
        background-position: 0%,45%;
    }

    .logo{
        height: 10vh;
        width: 100%;
        background-size: 470px;
        left: 0.1%;
        background-position: center;
}

    .app-name{
        top: 35%;
        left: 1.8%;
        font-size: 1.8rem;
        font-weight: 300;
    }
    
    .btn-quiz-start{
            top: 45%;
            left: 44%;
            font-size: 1.3rem;       
    }
    .btn1{
        font-size: 1.2rem;
        
    }
}