<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<header>

    <div class="logo">
                 <!-- Image is shown in css file  -->
    </div>

    <div class="parent-box-app-name">
            <div class="app-name">
                    Welcome To Trivia App
            </div>
    </div>

    <div class="btn-quiz-start">
            <a routerLink="userProfile" class="btn1">Start Quiz</a>
    </div>

</header>
    
</body>
</html>

<!-- The page will navigate like this

* when user will click on above button Start Quiz we will navigate to 

flow :- 

1) Userprofile question component 
2) cricketer question component 
3) flag question component 
4) final page component 
5) History page component  -->