
.body1{
    height: 100vh;

}

.background-img{

    background-image: url("../../assets/images/alessandro-bogliari-oDs_AxeR5g4-unsplash.jpg"); 
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    

}


.card-container{

    width: 400px;
    height:240px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 1px 10px 1px #000;
    background: #5e6f64;

}


.upper-box{
    position: relative;
    padding: 10px;
    height: 100px;
    color: #ffffff;
}
.response{
    position: absolute;
    top: 95%;
    left: 7%;
    width: 70%;
}
.form-small{
    width: 120%;
    padding: 2px;
    outline: none;
}

.btn-next{
    position: absolute;
    top: 188%;
    left: 6.8%;
}

.btn1{
    padding: 1px 19px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 1.2rem;    
    font-weight: 500;
    outline: none;

}

.error{
    font-size: 1.1rem;
    font-weight: 600;
    color: #ed6663;
}





/*-------------------------------Media Query Starts From here ------------------ */


@media only screen and (max-width:768px)
{

    .background-img{
        width: 100%;
        background-position: 55%,-30%;
    }

.card-container{

    width: 300px;
    height: 240px;
    transform: translate(-30%,-50%);
}

.response{
    width: 90%;
}

.name{
    font-size: 1.4rem;
}

.error{
    font-size: 0.9rem;
}

.btn-next{
    top: 185%;
}


}
